# directory
webpack/
node_modules/
public/

# dot file & IDE config
.editorconfig
.eslintignore
.eslintrc.js
.gitignore
.prettierignore
.prettier
.idea
.npmrc

# lint tool config
babel.config.js
commitlint.config.js
husky.config.js
lint-staged.config.js
package-lock.json